
#invoiceContainer{
   -fx-font-size:13;
}

#configureProductTab{
   -fx-font-size:13;
}
#reconfigureProductTab{
   -fx-font-size:13;
}

#produtsPane{
   -fx-font-size:13;
}
#pomPane{
   -fx-font-size:13;
}










